/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	/*fixed-topを直すため*/
	padding-top: 70px;
	background-color: #f8f8f8;
}

nav {
	background-color: white;
}

a:visited {
    color: blue;
}

a:hover {
	text-decoration: none;
	background-color: #fff;
}

.text-field {
	width: 80%;
	height: 34px;
}

.caption-field {
	width: 80%;
	height: 60px;
}

h1 {
	font-size: 60px;
	font-family: Brush Script MT;
}

h2 {
	font-family: Brush Script MT;
}


/* login screen */

.login-box {
	width: 350px;
	border: 2px solid #dbdbdb;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.login-logo {
	font-size: 60px;
	font-family: Brush Script MT;
	margin-bottom: 35px;
}

.btn-info {
	width: 80%;
	height: 27px;
	border-radius: 2px;
}




/* sign up screen*/

.sign-up-box {
	width: 350px;
	border: 2px solid #dbdbdb;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.sign-up-message {
	width: 85%;
	margin: 0 auto;
	margin-bottom: 35px;
	opacity: 0.5;
}

.btn-primary {
	width: 80%;
	height: 27px;
	border-radius: 2px;
}



/*post_images/index*/

.flex {
	display: flex;
	width: 600px;
	background-color: #fff;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #efefef;
}

.flex > div {
	background-color: #fff;
	margin-top: 10px;
}

.option-dot {
	right: 10px;
}



/*post_images/new*/

.new-post {
	width: 350px;
	border: 2px solid #dbdbdb;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}



/*user/show*/
.flex-user-show {
	width: 300px;
	background-color: #fff;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #efefef;
	display: flex;
}

.flex-user-show > .show {
	margin-right: 10px;
	background-color: #fff;
}



